#catalog {
    width: 100%;
    height: 100%;
    display: none;
}

#questionFilter {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.2) 100%);
}

#catalogTitle {
    width: 20%;
    height: 5%;
    left: 40%;
    top: 15%;
    color: var(--text-light-color);
    text-shadow: var(--text-shadow-dark);
    text-align: center;
}

#catalogElements {
    width: 20%;
    height: 40%;
    left: 43%;
    top: 26%;
}

#catalogElement0,
#catalogElement1,
#catalogElement2,
#catalogElement3,
#catalogElement4,
#catalogElement5,
#catalogElement6,
#catalogElement7,
#catalogElement8,
#catalogElement9 {
    position: relative;
    width: 70%;
    height: 5%;
    left: 15%;
    color: var(--text-light-color);
    text-shadow: var(--text-shadow-dark);
    font-size: var(--text-font-size);
    text-align: left;
}

#catalogElement0::before,
#catalogElement1::before,
#catalogElement2::before,
#catalogElement3::before,
#catalogElement4::before,
#catalogElement5::before,
#catalogElement6::before,
#catalogElement7::before,
#catalogElement8::before,
#catalogElement9::before {
    border: none;
}

#catalogPagePrev,
#catalogPage,
#catalogPageNext,
#catalogClose {
    font-size: var(--item-font-size);
    color: var(--text-light-color);
    text-shadow: var(--text-shadow-dark);
}

#catalogPagePrev {
    width: 10%;
    height: 5%;
    top: 75%;
    left: 38%;
}

#catalogPage {
    width: 8%;
    height: 5%;
    top: 76%;
    left: 46%;
    text-align: center;
}

#catalogPageNext {
    width: 10%;
    height: 5%;
    top: 75%;
    left: 52%;
}

#catalogPagePrev::before,
#catalogPageNext::before {
    border: none;
}

#catalogClose {
    position: absolute;
    width: 10%;
    height: 5%;
    left: 45%;
    top: 85%;
}

#catalogClose::before {
    border-color: var(--border-light-color);
}