#caution {
	width: 100%;
	height: 100%;
	display: inline;
	text-align: center;
	display: none;
}

#cautionBg {
	width: 100%;
	height: 100%;
	background-color: var(--dark-color);
}

#cautionMessage {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 25%;
	font-size: var(--text-font-size);
	color: var(--text-light-color);
	transform: translate(-50%, 0);
}