#dialog {
    width: 100%;
    height: 100%;
    display: none;
}

#dialogFrame {
    width: 100%;
    height: 100%;
}

#dialogWindow {
    width: 100%;
    height: 80%;
    top: 10%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 8%, rgba(0, 0, 0, 0.8) 92%, rgba(0, 0, 0, 0) 100%);
}

#dialogElements {
    width: 100%;
    height: 50%;
    top: 25%;
    text-align: center;
}

#dialogText0,
#dialogText1 {
    position: relative;
    color: var(--text-light-color);
    text-shadow: var(--text-shadow-dark);
    font-size: var(--sentence-font-size);
    line-height: 200%;
}

#dialogButtons {
    position: relative;
    width: 15%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

#dialogButton0,
#dialogButton1,
#dialogButton2,
#dialogButton3,
#dialogButton4 {
    position: relative;
    width: 100%;
    height: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: var(--text-light-color);
    text-shadow: var(--text-shadow-dark);
    font-size: var(--item-font-size);
    pointer-events: auto;
}

#dialogButton0::before,
#dialogButton1::before,
#dialogButton2::before,
#dialogButton3::before,
#dialogButton4::before {
    border-color: var(--border-light-color);
}

#selectorText {
    position: relative;
    width: 100%;
    height: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: var(--text-light-color);
    text-shadow: var(--text-shadow-dark);
    font-size: var(--sentence-font-size);
}

#selector {
    position: relative;
    width: 50%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

#selectorLeft,
#selectorRight,
#selectorPage {
    position: relative;
    width: 8%;
    height: 10%;
    margin-top: 2%;
    margin-bottom: 3%;
    color: var(--text-light-color);
    font-size: var(--item-font-size);
    text-shadow: var(--text-shadow-dark);
    float: left;
}

#selectorLeft::before,
#selectorRight::before {
    border: none;
}

#selectorLeft {
    margin-left: 32%;
}

#selectorPage {
    position: relative;
    width: 20%;
    height: 50%;
    top: 0%;
    left: 0%;
    text-align: center;
}