#story {
	width: 100%;
	height: 100%;
	display: none;
}

#storyChapter {
	width: 30%;
	height: 10%;
	left: 55%;
	top: 10%;
	font-size: var(--text-font-size);
}

#storyTitle {
	width: 30%;
	height: 10%;
	left: 55%;
	top: 20%;
}

#storyBorder0 {
	width: 40%;
	height: var(--border-width);
	top: 34%;
	left: 54%;
}

#storyBack {
	width: 5%;
	height: 5%;
	top: 34%;
	left: 53%;
	font-size: var(--item-font-size);
}

#storyNext {
	width: 5%;
	height: 5%;
	top: 34%;
	left: 90%;
	font-size: var(--item-font-size);
}

#storyOutline {
	width: 40%;
	height: 30%;
	top: 50%;
	left: 55%;
}

#storyOutlineText {
	width: 100%;
	height: auto;
	bottom: 0%;
	left: 0%;
	font-size: var(--sentence-font-size);
	line-height: 160%;
}

#storyTarget {
	width: 35%;
	height: 8%;
	top: 84%;
	left: 58%;
}

#storyTargetText {
	height: 100%;
	right: 0%;
	top: 0%;
	font-size: var(--text-font-size);
	text-align: right;
}

#review {
	position: absolute;
	width: 15%;
	height: 5%;
	left: 85%;
	top: 2%;
	font-size: var(--text-font-size);
	color: var(--text-blue-color);
}